nav {
  background-color: transparent;
  width: 100%;
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 1rem;
  position: fixed;
  transition: all 0.45s ease-in-out;
  scroll-behavior: smooth;
}
nav div {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
nav Link img {
  width: 10rem;
  height: 3rem;
}
nav.active {
  background-color: white;
  height: 5rem;
  padding: 0rem 1.2rem;
  transition: all 0.35s ease-in-out;
}
.border {
  @apply text-black border-solid border-b-2 border-black;
}
.noborder {
  @apply text-[#8d8d8d];
}
